# GEMS I/O
input/
output/
kegg_cache/
scripts/input1_data/*.fa
scripts/input1_data/*.gb
scripts/input1_data/*.gbk
scripts/input1_data/*.txt
scripts/input1_data/*.xml
scripts/input1_data/*/*.gb
scripts/input1_data/*/*.gbk
scripts/input1_data/*/*.txt
scripts/input1_data/*/model.xml
scripts/input2_data/*.txt
scripts/input2_data/*.xml

# Test suite and coverage report
.cache/
.coverage
.tox/
tmp

# System
*.log
*.pyc
*.swp

# virtualenv
venv/
