# GEMS I/O
input/
output/
kegg_cache/
gmsm/tests/data/model.xml
scripts/bigg/model.xml
EFICAz2.5.1.tar.gz
#scripts/input1_data/*.fa
#scripts/input1_data/*.gb
#scripts/input1_data/*.gbk
#scripts/input1_data/*.txt
#scripts/input1_data/*.xml

# Files for the organisms whose data are accessible from BiGG and NCBI are ignored.
# For an organism not accessible (e.g., sco), its template model is tracked.
#scripts/input1_data/eco/*
#scripts/input1_data/mtu/*
#scripts/input1_data/sco/gurobi.log
#scripts/input1_data/sco/*.txt
#scripts/input1_data/sco/model.xml

#scripts/input2_data/*.txt
#scripts/input2_data/*.xml

# Test suite and coverage report
.cache/
.coverage
.tox/
tmp

# System
*.log
*.pyc
*.swp

# virtualenv
venv/
